*{ box-sizing: border-box; user-select: none; }

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden;  */
}


@media only screen and (min-width: 550px) {
    body
    {
        width: 80%;
        height: 100%;
        margin: auto;
        padding: 0px;
        /* overflow-x: hidden;  */
    }
    
    
}
.header-element {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 5px; 
}

.logo{
    display: block;
    max-width: 90vw;
    height: 12vh;
    
}

@media only screen and (min-width: 550px) {
    .logo{
        display: block;
        margin: auto;
        max-width: 90vw;
        height: 12vh;
        
    }
    
}

.heading-one{
    font-size: 18px;
    font-family: Georgia Bold;
    font-weight: bold;
    
}

.heading-one-b{
    font-size: 28px;
    font-family: Georgia Re;
    font-weight: bold;
}
.heading-two{
    margin-top: 10px;
    margin-left: 30px;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-variant-caps: unicase;
    font-weight: 600;
    margin-bottom: -3px;
    transform: scale(1.4,1.65);
    
}

.heading-four{
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
}

.heading-five{
    margin-top: 5px;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
}

.p-three{
    font-size: 16px;
    font-family: Arial;
    color: #565656;

}

.p-four{
    font-size: 12px;
    font-family: Arial;
    font-weight: normal;
    font-style: italic;
    color: #565656;
}

.p-five{
    font-size: 14px;
    font-family: Arial;
    color: #565656;
}
.p-one{
    font-size: 18px;
    font-family: Georgia;
    font-weight: bold;
}
.form-checkbox{
    margin-left: 0vw;
}

input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
    
  }
  
  input[type=checkbox] {
    display: none;
  }
  
  
  input[type=checkbox] + label:before {
    content: url("../assets/MTSAssets/checkboxes/SVG/checkbox_unchecked.svg");
    margin-right: 10px;
}


  input[type=checkbox]:checked + label:before {
    content: url("../assets/MTSAssets/checkboxes/SVG/checkbox_checked.svg");
    margin-right: 10px;
}
.check_box_disabled{
    content: url("../assets/MTSAssets/checkboxes/SVG/checkbox_disabled.svg");
    margin-right: 10px;
}
  
  .question-body{
      margin-bottom: 100px;
  }

  .question-whole{
    margin: auto;
    max-width: 450px;
  }


.question-id{
    position: relative;
    right: 0px;

    margin: 0px;
    padding: 0px;
    font-size: 48px;
    width: fit-content;
    font-family: Georgia;
    font-weight: bold;
    color: #565656;
}
@media only screen and (min-width: 550px) {
    .question-id{
        left: 5%;
    }
}

@media only screen and (min-width: 650px) {
    .question-id{
        left: 7%;
    }
}


@media only screen and (min-width: 900px) {
    .question-id{
        left: 12%;
    }
}


@media only screen and (min-width: 1150px) {
    .question-id{

        left: 15%;
    }
    .question-whole{
        margin: auto;
        max-width: 550px;
        margin-right: 20%;
    }
}


@media only screen and (min-width: 1300px) {
    .question-id{
        left: 25%;
    }
    .question-whole{
        margin: auto;
        max-width: 450px;
        margin-right: 35%;
    }
}


@media only screen and (min-width: 1500px) {
    .question-id{
        /* margin-right: 50%; */
        /* right: 35%; */
    }
    .question-whole{
        margin: auto;
        max-width: 450px;
        margin-right: 45%px;
    }
}


@media only screen and (min-width: 1600px) {
    .question-id{
        /* margin-right: 50%; */
        left: 22%;
    }
    .question-whole{
        margin: auto;
        max-width: 450px;
        margin-right: 35%;
    }
}


@media only screen and (min-width: 1700px) {
    .question-id{
        /* margin-right: 50%; */
        left: 40%;
    }
    .question-whole{
        margin: auto;
        max-width: 450px;
        margin-right: 40%;
    }
}
.question{
    margin-top: -38px;
    margin-left: 12vw;
    margin-bottom: -15px;
    font-size: 18px;
    font-family: Georgia;
    font-weight: bolder;
    color: #565656;
}

.question-option{
    width: 50%;
    display: inline-block;
    margin-left: 12vw;
}




.question-inst{
    /* margin-left: 12vw; */
    font-family: Arial !important;
    font-size: 12px !important;
    font-style: italic !important;
    font-weight: 500;
}



.skip-to-trial{
    font-size: 12px;
    font-family: Arial Bold;
    font-weight: bold;color: #046e73;
    margin-top: 5px;
}
.skip-to-trial:hover{
    color: #06A9B3;
}

.nextArrow{
    background-image: url("./../assets/checkbox/arrow_forward_static.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 10px;
    width: 10px;
}

.nextArrow:hover{
    background-image: url("../assets/MTSAssets/arrows/SVG/arrow_forward_hover.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 10px;
    width: 10px;
}

.backArrow{
    background-image: url("../assets/MTSAssets/arrows/SVG/arrow_back_static.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 10px;
    width: 10px;
}


.backArrow:hover{
    background-image: url("../assets/MTSAssets/arrows/SVG/arrow_back_hover.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 10px;
    width: 10px;
}

.btn-rounded{
    width: 110px;
    height: 30px;
    border-radius: 15px;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    padding: 2px 35px 2px 35px;
    background-color: #CF4320;
}

.btn-rounded:hover{
    width: 110px;
    height: 30px;
    border-radius: 15px;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    padding: 2px 35px 2px 35px;
    background-color: #E6583B;
    border-color: #E6583B;
}


.btn-rounded-viewalltrials{
    color: white;
    border: none;
    height: 30px;
    border-radius: 15px;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    padding: 2px 35px 2px 35px;
    background-color: #046E73;
    width: 200px;
}

.btn-rounded-viewalltrials:hover{
    color: white;
    width: 110px;
    height: 30px;
    border-radius: 15px;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    padding: 2px 35px 2px 35px;
    background-color: #046E73 ;
    width: 200px;
    
    border-color: #046E73;
}


footer{
    background-color: #046e73;
    color: white;

}
.footer-poweredby{
    display: block; 
    width: max-content;
    margin: auto;
}

.footer-poweredby-h5{
    font-size: 16px;
    font-family: Arial bold;
    /* font-weight: bold; */
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.footer-poweredby-h1{
    font-size: 28px;
    font-family: Georgia Regular;
    font-weight: bold;
}

.footer-arrow{
    background-image: url("../assets/MTSAssets/arrows/SVG/arrow_down_static.svg");
}

.dropdown-btn{
    background-color: transparent;
    color: white;
    font-size: 12px;
    font-family: Arial Bold;
    font-weight: bold;
    display: block;
    margin: auto;
}
.dropdown-btn:hover{
    background-color: #046e73;
    color: white;
}


.pagination-dot {
    height: 7px;
    width: 7px;
    background-color: #CF4320;
    border-radius: 50%;
    display: inline-block;
}

.pagination-dot-inactive{
    height: 7px;
    width: 7px;
    background-color:grey;
    border-radius: 50%;
    display: inline-block;
}

 input[type="date"] {
    position: relative;
    padding: 10px;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    /* color: transparent; */
    background: none;
    z-index: 1;
  }
  
  input[type="date"]:before {
    /* color: transparent; */
    /* background: none; */
    display: block;
    content: url("../assets/MTSAssets/icons/SVG/icon_calendar.svg");
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #999;
  }
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    width: 30px;
    height: 30px;
    border-width: thin;
} 


.radiocontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    width: 300px;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
  }
  
  /* Hide the browser's default radio button */
  .radiocontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: url("../assets/MTSAssets/radiobuttons/SVG/radio_unselected.svg") no-repeat;
    
  }

  .radiocontainer input:checked ~ .checkmark:after {
    display: block;
  }
  /* When the radio button is checked*/
  .radiocontainer input:checked ~ .checkmark {
    background: url("../assets/MTSAssets/radiobuttons/SVG/radio_selected.svg") no-repeat;
  }
  
.question-other-icon{
    position: relative;
    background-image: url("../assets/MTSAssets/icons/SVG/icon_question_large_teal.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 18px;
    width: 18px;
    top: 3px;
    left: 3px;
    margin-right: 3px;padding-right:3px; padding-top: 3px; display:inline-block;
    
}

.popup-menupausal{
    position: relative;
    background-image: url("../assets/MTSAssets/pop-upinfoboxes/SVG/pop-up_menopause.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: max-content;
    top: -10px;
    left: 3px;
    display: none;
    margin-right: 3px;
    padding-right:3px;
    padding-top: 3px;
    display:inline-block;
}


.inside-popup-menupausal{
    width:fit-content;
    display: block;
    position: relative;
    top: 90px;
    left: -5%;
}


@media only screen and (min-width: 550px) {
    .inside-popup-menupausal{
        display: block;
        position: relative;
        top: 90px;
        left: -10%;
    }
}

@media only screen and (min-width: 640px) {
    .inside-popup-menupausal{
        display: block;
        position: relative;
        top: 90px;
        left: -15%;
    }
}


@media only screen and (min-width: 800px) {
    .inside-popup-menupausal{
        display: block;
        position: relative;
        top: 90px;
        left: -22%;
    }
}


@media only screen and (min-width: 1050px) {
    .inside-popup-menupausal{
        display: block;
        position: relative;
        top: 90px;
        left: -25%;
    }
}


@media only screen and (min-width: 1300px) {
    .inside-popup-menupausal{
        display: block;
        position: relative;
        top: 90px;
        left: -30%;
    }
}


@media only screen and (min-width: 1500px) {
    .inside-popup-menupausal{
        display: block;
        position: relative;
        top: 90px;
        left: -35%;
    }
}


@media only screen and (min-width: 1600px) {
    .inside-popup-menupausal{
        display: block;
        position: relative;
        top: 90px;
        left: -35%;
    }
}


@media only screen and (min-width: 1700px) {
    .inside-popup-menupausal{
        display: block;
        position: relative;
        top: 90px;
        left: -40%;
    }
}




.inside-popup-menupausal-text{
    max-width:550px;
}


custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }


.year-select-dropdown{
    border-radius: 0;
    padding: 10px 10px 10px 10px;
    background-color: white;
    display: block;
    width: 100px;
    margin: auto;
  }

  
 .measurable-disease{
    /* background-image: url("./../assets/MTSAssets/pop-upinfoboxes/SVG/pop-up_measurable_disease.svg"); */
    background-color:#F4FEFF ;
    
    min-height: 70vh;

} 

.inactive-text{
    width: fit-content;
    color:#818181 ;
}

.exitcross-six{
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    height: 25px;
    width: 25px;
    margin-top: 35px;
    background-image: url("./../assets/MTSAssets/icons/SVG/icon_close_teal.svg");
    float: right;
    margin-left: 270px;
}

.skip-button{
    background: url("./../assets/MTSAssets/buttons/SVG/button_next_static.svg") no-repeat;
    cursor:pointer;
    border:none;
    width:110px;
    height:50px;
}


.skip-button:hover{
    background: url("./../assets/MTSAssets/buttons/SVG/button_next_hover.svg") no-repeat;
    cursor:pointer;
    border:none;
    width:110px;
    height:50px;
}


/* Start page */
.question-header-start{
    font-family: Arial;
    font-weight: bold;
    color: #046E73;
    font-size: 18px;
}
.question-para-start{
    font-family: Arial;
    font-size: 14px;
    color: #565656;
}
.under-red{
    text-decoration: underline;
    color: #CF4320;
}
.under-red:hover{
    text-decoration: underline;
    color: #CF4320;
    cursor: pointer;
}
.question-id-start{
    font-family: Georgia;
    font-size: 58px;
    font-weight: bold;
}

    
.circle-start {
    height: 220px;
    width: 220px;
    background-color:#EFEFEF;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.circle-start-one{
    width: 200px;
    margin: auto;
    margin-top: 40px;
}

.circle-text{
    font-family: Arial;
    font-size: 14px;
    color: #046E73;
    max-width:140px;
    margin: auto;
    margin-top: -20px;
    text-align: center;
    font-weight: 900;
}

.circle-down{
    width: 260px;
    margin: auto;
    color: #046E73;
}
.heading-start{
    font-family: Georgia;
    font-weight: bold;
    font-size: 28px;
}
.learn-more{
    font-family: Georgia;
    font-weight: bold;
    font-size: 28px;
    color: #046E73;
}